.footer-box{
    background-color: #F8F8F8;
    color:#757575;
    font-size:14em;
    padding-top:5%;
    padding-bottom:3%;
    padding-left:10%;
    line-height: 0.15em;
    min-height: 200px;
    
}

