@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
body{
    overflow-y: scroll;
}

#main{
    font-size: 21px;
    background-color: whitesmoke;
    background-image:url('../../imgs/home/backRoom.png');

    background-size: contain;
    
    height:700px;
    
}

.introduce{
    margin-left:10%;
}

.introduce-heart{
    display: flex;
    align-items: center;
}

.introduce-comment{
    padding-left:0.2em;
    color:#584941;
    font-size:1em;
    font-weight: bold;
}

/*
.img-cal{
    width: 35px;
    height: 52px;
}
*/

.img-cal{
    background-image:url('../../imgs/home/countCal.png');
    background-size: contain;
    width: 35px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    font-size:2em;
    font-weight:bold;
    color:#FFFFFF;
}
.date-comment{
    text-align: center;
    font-size:0.6em;
    color:#b33939;
    font-weight: bold;
}

.dang{
    font-size:2em;
    font-weight:bold;
    color:#584941;
}

.guide{
    text-align: center;
}

.guide-top{
    font-size:1.2em;
    color:#584941;
    border-radius: 35px;
    width:80%;
    background-color:#F7F1E3;
}

.name-guide{
    font-size:1.2em;
    font-weight:bold;
}
.cnt-guide{
    color: #b33939;
    font-weight: bold;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    font-size:1.5em;
    line-height: 28px;
}

.btn-copy{
    font-size:1em;
    color:#FFFFFF;
    border-radius: 8px;
    background-color:#b33939;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:80%;
    min-width: 332px;
    min-height: 47px;
}

.completeCopy{
    align-items: center;
}

