@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
body{
    /* overflow-y: scroll; */
}

#main{
    font-size: 21px;
    background-color: var(--beige);
    /* background-image:url('../../imgs/home/backRoom2.png'); */
    background-repeat: repeat-x;
    background-size: contain;
    
    
}

.introduce{
    margin-top: 5%;
}

.introduce-heart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-right: 120px;
}

.introduce-comment{
    padding-left:0.2em;
    color:#584941;
    font-size:1em;
    font-weight: bold;
}

.finish-container{
    text-align: center;
    animation-name: bounce;
    animation-duration:2s;
    animation-iteration-count : infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;
    animation-delay:1s;
}
@keyframes bounce{
    0%, 100%{transform:translate(0,0)}
    50%{transform:translate(0,-20px)}
}

@-webkit-keyframes bounce{
    0%, 100%{transform:translate(0,0)}
    50%{transform:translate(0,-20px)}
}


.finish-eve{
    font-size:2em;
    color:#218C74;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.finish-eve span{
    font-size:1em;
    color:#B33939;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.finish-comment{
    color:#584941;
    font-weight: 700;
    font-size:1.8em;
}


/*
.img-cal{
    width: 35px;
    height: 52px;
}
*/
/* 캘린더 스타일링 */
.App{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 300px;
    
}

.img-cal{
    background-image:url('../../imgs/home/countCal.png');
    background-size: contain;
    width: 35px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    font-size:2em;
    font-weight:bold;
    color:#FFFFFF;
}



.date-comment{
    text-align: center;
    font-size:1em;
    color:#b33939;
    font-weight: 800;
}

.dang{
    font-size:2em;
    font-weight:bold;
    color:#584941;
}


/* 가운데 이미지요소들 */
.treeGiftBell{
    height: 40vh;
    width: 100%;
}
.treeGift{
    position: relative;
    height: 300px;
    bottom: -180px;
}

.backStyle1{
    position: relative;
    top: -10px;
    
}
.backStyle2{
    position: relative;
    top: -60px;
    left: 20px;
}
.backStyle3{
    position: relative;
    bottom: -60px;
    right: 100px;
}

.backStyle4{
    position: relative;
    top: -40px;
}
.backStyle5{
    position: relative;
    top: 60px;
    right: 20px;
}

.bell{
    position: relative;
    top: -250px;
    left: 400px;
}



/* bottom쪽 스타일링 */
.guide{
    text-align: center;
    clear:both;
    background-color: var(--yellow);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-container{
    
    padding: 20px;
}


.guide-top{
    font-size:1.2em;
    color:#584941;
    border-radius: 35px;
    width:100%;
    background-color:#F7F1E3;
    padding:1%;
    margin-bottom:30px;
}

.name-guide{
    font-size:1.2em;
    font-weight:bold;
    letter-spacing: 1px;
}
.cnt-guide{
    color: #b33939;
    font-weight: bold;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    font-size:1.5em;
    line-height: 28px;
    letter-spacing: 1px;
}
.guide1, .guide2{
    letter-spacing: 1px;
    margin-right: 5px;
}

.btn-copy{
    font-size:1em;
    color:#FFFFFF;
    border-radius: 8px;
    background-color:#b33939;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:100%;
    min-width: 332px;
    min-height: 47px;
    margin-bottom: 2%;
}

.completeCopy{
    /*서서히 생기고 사라지기*/
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* 전체 웹뷰 반응형 웹 만들기 */
@media screen and (min-width:900px){
    .treeGiftBell{
        height: 30vh;
        width: 100%;
    }
    .treeGift{
        position: relative;
        height: 300px;
        left: 250px;
        bottom: -50px;
    }
    
    .backStyle1{
        position: relative;
        top: -200px;
        left: 250px;
    }
    .backStyle2{
        position: relative;
        top: -100px;
        left: 200px;
    }
    .backStyle3{
        position: relative;
        top: -50px;
        left: 100px;
    }
    
    .backStyle4{
        position: relative;
        top: -150px;
        left: 200px;
    }
    .backStyle5{
        position: relative;
        top: -50px;
        left: 150px;
    }
    
    .bell{
        position: relative;
        top: -220px;
        left: 70px;
    }
    
  }

@media screen and (min-width:1800px){

    .treeGiftBell{
        height: 30vh;
        width: 100%;
    }
    .treeGift{
        position: relative;
        height: 300px;
        left: 750px;
        bottom: -100px;
    }
    
    .backStyle1{
        position: relative;
        top: -200px;
        left: 800px;
    }
    .backStyle2{
        position: relative;
        top: -100px;
        left: 750px;
    }
    .backStyle3{
        position: relative;
        top: -50px;
        left: 650px;
    }
    
    .backStyle4{
        position: relative;
        top: -150px;
        left: 750px;
    }
    .backStyle5{
        position: relative;
        top: -50px;
        left: 700px;
    }
    
    .bell{
        position: relative;
        top: -220px;
        left: 700px;
    }
    
  }


