@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
body{
    /* overflow-y: scroll; */
}

#main{
    font-size: 21px;
    background-color: var(--beige);
    /* background-image:url('../../imgs/home/backRoom2.png'); */
    background-repeat: repeat-x;
    background-size: contain;
    
    
}

.introduce{
    margin-top: 5%;
}

.introduce-heart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-right: 120px;
}

.introduce-comment{
    padding-left:0.2em;
    color:#584941;
    font-size:1em;
    font-weight: bold;
}

/*
.img-cal{
    width: 35px;
    height: 52px;
}
*/
/* 캘린더 스타일링 */
.App{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 300px;
    
}

.img-cal{
    background-image:url('../../imgs/home/countCal.png');
    background-size: contain;
    width: 35px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    font-size:2em;
    font-weight:bold;
    color:#FFFFFF;
}



.date-comment{
    text-align: center;
    font-size:1em;
    color:#b33939;
    font-weight: 800;
}

.dang{
    font-size:2em;
    font-weight:bold;
    color:#584941;
}


/* 가운데 이미지요소들 */
.treeGiftBell{
    height: 30vh;
    width: 100%;
}
.treeGift{
    position: relative;
    height: 300px;
    bottom: -50px;
}

.backStyle1{
    position: relative;
    top: -200px;
    
}
.backStyle2{
    position: relative;
    top: -100px;
    left: 20px;
}
.backStyle3{
    position: relative;
    top: -50px;
    right: 100px;
}

.backStyle4{
    position: relative;
    top: -150px;
}
.backStyle5{
    position: relative;
    top: -50px;
    right: 20px;
}

.bell{
    position: relative;
    top: -300px;
    left: 350px;
}



/* bottom쪽 스타일링 */
.guide{
    text-align: center;
    clear:both;
    background-color: var(--yellow);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-container{
    
    padding: 20px;
}


.guide-top{
    font-size:1.2em;
    color:#584941;
    border-radius: 35px;
    width:100%;
    background-color:#F7F1E3;
    padding:1%;
    margin-bottom:30px;
}

.name-guide{
    font-size:1.2em;
    font-weight:bold;
    letter-spacing: 1px;
}
.cnt-guide{
    color: #b33939;
    font-weight: bold;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    font-size:1.5em;
    line-height: 28px;
    letter-spacing: 1px;
}
.guide1, .guide2{
    letter-spacing: 1px;
    margin-right: 5px;
}

.btn-copy{
    font-size:1em;
    color:#FFFFFF;
    border-radius: 8px;
    background-color:#b33939;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:80%;
    min-width: 332px;
    min-height: 47px;
    margin-bottom: 2%;
}

.completeCopy{
    transition: all ease 2s 0s;
}

