@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  list-style: none;
}

:root{
  --black: #232323;
  --green:#218c74;
  --red:#b33939;
  --beige : #F7F1E3;
  --yellow : #ECD5A1;
  --dark_brown: #584941;
}

button{
  appearance: none;
  background-color: transparent; 
  cursor: pointer;
  border: none;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Pretendard"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


;/* 전체 웹뷰 반응형 웹 만들기 */
@media screen and (min-width:1000px){
  .treeGiftBell{
      height: 30vh;
      width: 100%;
  }
  .treeGift{
      position: relative;
      height: 300px;
      left: 500px;
      bottom: -50px;
  }
  
  .backStyle1{
      position: relative;
      top: -200px;
      
  }
  .backStyle2{
      position: relative;
      top: -100px;
      left: 20px;
  }
  .backStyle3{
      position: relative;
      top: -50px;
      right: 100px;
  }
  
  .backStyle4{
      position: relative;
      top: -150px;
  }
  .backStyle5{
      position: relative;
      top: -50px;
      right: 20px;
  }
  
  .bell{
      position: relative;
      top: -150px;
      left: 350px;
  }
  
}